.Rproj.user
.Rhistory
.RData
malarial_signal_peptides.Rproj
plos_latex_template.bbl
plos_latex_template.log
plos_latex_template.synctex.gz
PLOS-submission-eps-converted-to.pdf
plos_latex_template.pdf
figures/
