.Rproj.user
.Rhistory
.RData
malarial_signal_peptides.Rproj
plos_latex_template.bbl
plos_latex_template.log
plos_latex_template.synctex.gz
PLOS-submission-eps-converted-to.pdf
plos_latex_template.pdf
figures/
apicomplexa_signalpeptides.snm
apicomplexa_signalpeptides.synctex.gz
apicomplexa_signalpeptides.tex
apicomplexa_signalpeptides.toc
apicomplexa_signalpeptides-concordance.tex
apicomplexa_signalpeptides.aux
apicomplexa_signalpeptides.log
apicomplexa_signalpeptides.nav
apicomplexa_signalpeptides.out
apicomplexa_signalpeptides.bbl
figure
